/* Footer Attribution */
.attribution {
  font-size: 0.75rem;
  text-align: center;
}

.attribution__link {
  text-decoration: none;
  font-weight: bold;
  transition: opacity 0.3s ease;
}

.attribution__link:hover {
  opacity: 0.8;
  text-decoration: underline;
}
