/* Fonts Import */
/* barlow-semi-condensed-500 */
@font-face {
  font-display: swap;
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/barlow-semi-condensed-v16-latin-500.woff2") format("woff2");
}

/* barlow-semi-condensed-600 */
@font-face {
  font-display: swap;
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/barlow-semi-condensed-v16-latin-600.woff2") format("woff2");
}

/* Custom Properties */
:root {
  /* Fonts */
  --font-barlow: "Barlow Semi Condensed", sans-serif;

  /* Typography */
  --text-preset-1: 600 1.25rem / 120% var(--font-barlow);
  --text-preset-2: 500 0.8125rem / 110% var(--font-barlow);
  --text-preset-3: 500 0.8125rem / 140% var(--font-barlow);
  --text-preset-4: 500 0.6875rem / 110% var(--font-barlow);
}

body {
  font-family: var(--font-barlow);
}

/* Footer Attribution */
.attribution {
  font-size: 0.75rem;
  text-align: center;
}

.attribution__link {
  text-decoration: none;
  font-weight: bold;
  transition: opacity 0.3s ease;
}

.attribution__link:hover {
  opacity: 0.8;
  text-decoration: underline;
}
